<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style type="text/css"></style>
  </head>
  <body>
    <div id="app">
      <button @click="pushTodo">푸시</button>
      <ul class="todos">
        <li v-for="(todo, index) in todos" :key="index">{{todo.title}}</li>
      </ul>

      <!-- 객체데이터의 경우 v-for로 반복할 때 index는 3번째 인수이다. -->
      <div class="heropy">
        <li v-for="(value, key, index) in heropy" :key="index">{{value}}</li>
      </div>
    </div>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          todos: [{ title: '아침 먹기' }, { title: '점심 먹기' }, { title: '저녁 먹기' }],
          heropy: {
            name: 'HEROPY',
            age: 35,
            //#1. 사용하게 될 항목을 미리 정의만 해두는 방법
            // homepage: '',
            // email: '',
            //#2. Object.assign({}, vm.heropy, {새로운키:값})
            //새로운 객체가 만들어지고 할당되면서 Vue가 이 객체를 참조하면서 반응성을 보이게 된다.
          },
        },
        methods: {
          pushTodo() {
            this.todos.push({ title: '야식 먹기' });
          },
        },
      });
    </script>
  </body>
</html>
